.header__authorization-place {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .header__authorization-place {
    padding-right: 30px;
  }
}
